*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#wrapper
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;

}
#header
{
    height: 90px;
    background-color: rgba(0, 0, 0, 0.858);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#toplogo
{
    width: 350px;
    height: 60px;
    padding-left: 30px;
    font-size: 40px;
    color: aliceblue;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#topmenu
{
    width: 500px;
    height: 35px;

}
#topmenu ul
{
    list-style-type: none;
    display: flex;
}
#topmenu ul li
{
    width: 100px;
}
#topmenu ul li a
{
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
#topmenu ul li a:hover
{
    color: rgb(185, 77, 23);
}
#home
{
    height: 500px;
    background-image: url(/image/banner-bg.png);
    background-size: cover;
    padding-top: 100px;
    
}
#data
{
    color: black;
    padding-left: 140px;
}
#data1
{
    font-size: 80px;
    margin-left: 10%;
    color: white;
}
#home p
{
    padding-left: 10%;
}
button
{
    width: 160px;
    height: 60px;
    font-size: large;
    margin: 40px;
    margin-left: 10%;
    color: white;
    background-color: #222020ee;
    
}
button:hover
{
    background-color: rgb(255, 85, 0);
}
